<!DOCTYPE html>
<html>
  <head>
    <% if(typeof styles !== 'undefined'){ styles.map(style => { %>
    <link rel="stylesheet" href="/css/<%= style %>.css" />
    <% }) } %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include(`./pages/${page}`) %>

    <script language="javascript" src="/js/jquery.js"></script>
    <% if(typeof script !== 'undefined') { %>
    <script language="javascript" src="/js/<%= script %>.js"></script>
    <% } %>
  </body>
</html>
