body {
  display: flex;
}

.root {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 200px;
}

.container-actions {
  display: grid;
}

.container-log {
  width: 500px;
  border: 2px solid black;
  text-align: center;
  display: grid;
  grid-template-rows: 0.5fr 3fr;
}

/*
.log-title {
  overflow: hidden;
}*/

.item-container-log {
  position: relative;
  margin: 10px;
}

.log {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  overflow: auto;
}

.log p {
  margin: 0;
}

.item-row {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

/* ------ SCROLL BARS ----- */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}

/*------ BUTTONS------- */

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:visited {
  color: inherit;
}

.set-up-button {
  background-color: green;
  color: white;
}

.set-up-button:hover {
  background-color: white;
  color: green;
  border: 2px solid black;
}
