.container-transactions {
  display: flex;
}

.transactions {
  font-family: "Courier New", Courier, monospace;
  width: 700px;
}

.add-transactions-form {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#txs_num {
  border-top: none;
  border-right: none;
}

#txs_num:focus {
  outline: none;
}

.submit-button {
  margin-top: 20px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}
