.users {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}

table {
  border: 2px solid black;
}
thead th {
  border-bottom: 2px solid black;
}
td {
  border-right: 2px solid black;
  text-align: center;
  padding: 5px;
}

tr td:last-child {
  border: none;
}
