<div class="peers">
  <h1><%=title%></h1>
  <table>
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Port</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <%- include('../../components/peer') %>
    </tbody>
  </table>
</div>
