<div class="users">
  <h1><%=title%></h1>
  <table>
    <thead>
      <tr>
        <th scope="col">Private Key</th>
        <th scope="col">Public Key</th>
      </tr>
    </thead>
    <tbody>
      <%- include('../../components/user') %>
    </tbody>
  </table>
</div>
