<div class="root">
  <div class="container-title">
    <h1><%=title%></h1>
  </div>

  <div class="container">
    <div class="container-actions">
      <div class="item-row">
        <div>
          <a href="/blockchain"><button>Blockchain</button></a>
        </div>
        <div>
          <a href="/transaction"><button>Transactions</button></a>
        </div>
      </div>

      <div class="item-row">
        <div>
          <a href="/user"><button>Users</button></a>
        </div>
        <div>
          <a href="/peer"><button>Peers</button></a>
        </div>
      </div>
      <div class="container-title">
        <p>First of all you should set up the simulation!</p>
      </div>
      <div class="item-row" style="justify-content: center">
        <div>
          <a><button class="set-up-button">Set Up</button></a>
        </div>
      </div>
    </div>

    <div class="container-log">
      <div class="log-title">
        <h2>Event Log</h2>
      </div>
      <div class="item-container-log">
        <div class="log">
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
          <p>Hello world</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <p>Setting up the simulation. Please wait :)</p>
  </div>
</div>
